/*Universal Styles*/
@font-face {
    font-family: 'Syne Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/synemono/v2/K2FzfZNHj_FHBmRbFvHDJaql.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/syne/v3/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTY8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    font-family: 'Syne Mono';
    background-color: rgb(0, 0, 61);
    color: rgb(247, 196, 103);
    text-align: center;
    box-sizing: content-box;
}


/*Element Styles*/
h1 {
    font-size: 3.5rem;
    
}
h2 {
    font-size: 2.5rem;
}
p {
    font-size: 1.5rem;
    font-family: 'Syne';
}
a:link {
    color: gold;
}
a:hover {
    color: lemonchiffon;
}
a:active {
    color: white;
}
a:visited {
    color: burlywood;
}

/*Index Container Styles*/
.grid {
    height: fit-content;
    display: grid;
    grid-template: repeat(15, 10rem) / repeat(12, minmax(100px, 1fr));
    grid-auto-rows: 10rem;
    grid-gap: .5rem;
    position: relative;
    top:143px;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    border-bottom: 1px dashed gold;
}
nav ul li{
    list-style-type: none;
    font-size: 2rem;
    display: inline;
    margin: 1rem;
}
article.about {
    grid-area: 1 / 2 / span 2 / span 10;
    background-color: rgba(102, 51, 153, 0);
    margin-bottom: 143px;
}
article#projects {
    grid-area: 3 / 2 / 14 / 12;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(9rem, 1fr) );
    grid-gap: .5rem;
    border: 1px dashed cornflowerblue;
}
article#projects h2 {
    grid-area: 1 / 2 / 2 / 4;    
}
figure.wumpus {
    grid-area: 2 / 1 / 5 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
figure.oreo {
    grid-area: 5 / 1 / 10 / 5;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
div.mixed {
    grid-area: 10 / 1 / 12 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px dashed cornflowerblue;
}
div.mixed button {
    background-color: black;
}
div.mixed #message {
    color: lemonchiffon;
}
section#skills {
    grid-area: 14 / 2 / 16 / 12;
    border: 1px dashed cornflowerblue;
}
section#skills li {
    font-size: 1.5rem;
    list-style-type: none;
}
section#skills li img{
   height: 3rem;
   width: 3rem;
}
figure img {
    height: 18rem;
    max-width: 100%;
    border: .25rem solid cornflowerblue;
    border-radius: .5rem;
}
figcaption {
    font-size: 1.5rem;
    font-family: 'Syne';
    margin-top: 2rem;
}
footer p {
    font-size: 1rem;
    text-align: left;
}
/*Media Queries*/

  @media only screen and (max-width: 1482px) {
    .grid {
        grid-template: repeat(16, 10rem) / repeat(12, minmax(100px, 1fr));     
    }
    section#skills {
        grid-area: 15 / 2 / 17 / 12;
    }
  }
  @media only screen and (max-width: 1320px) {
    article#projects {
        grid-area: 3 / 1 / 14 / 13;
        
    }
    section#skills {
        grid-area: -4 / 1 / 16 / -2;
    }
  }


/*Contact Container Styles*/
main.contact {
    position: relative;
    top: 143px;
    height: 100%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(8rem, 1fr) );
    grid-gap: 1rem;
}
section.email {
    grid-area: 1 / 1 / span 2 / span 2;
    border: 1px dashed cornflowerblue;
  
}
section.github {
    grid-area: 1 / 4 / span 2 / span 2;
    border: 1px dashed cornflowerblue;

}
img.logo {
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
    background-color: skyblue;
    border-radius: 20%;
    margin-bottom: 1rem;
}
nav.return {
    position: relative;
    top: 10rem;
}

@media only screen and (max-width: 790px) {
    section.github {
        grid-area: 3 / 1 / span 2 / span 2;
        border: 1px dashed cornflowerblue;
        width: 100%;
    }
}